<div class="pre-payment-container">
  <div class="header">
    PRE-PAYMENT PLAN
  </div>
  <div class="content" [formGroup]="form">
    <div class="display_flex" fxLayout>
      <div fxFlex ="30%"> <span class="material-icons" (click)="showInfo('preamt')">help</span>Prepayment Amount</div> 
      <div fxFlex ="70%">
          <span> 
            <span class="add_on ">$</span>
            <input class="input_val" matInput type="text" formControlName ="preamount">
          </span>
      </div>
     
    </div>
    <div class="info_section" *ngIf="tooltip.preamt">
      <div class="display_flex">
        <div fxFlex="5%">
          <span class="material-icons info" >info</span>
        </div>
        <div fxFlex="80%">
          Amount that you will prepay on your mortgage. This amount will be applied to the mortgage principal balance, at a frequency of prepayments that you determine.
          <div class="close_button">
            <button (click)="showInfo('preamt')">Close</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="display_flex" fxLayout>
      <div fxFlex ="30%"> <span class="material-icons" (click)="showInfo('prefreq')">help</span>Prepayment Frequency</div> 
      <div fxFlex ="70%">
        <mat-select class="select" formControlName="prefrequency">
          <mat-option *ngFor="let year of preFeq" [value]="year.id" >{{ year.value }}</mat-option>
        </mat-select>
      </div>
     
     
    </div>
    <div class="info_section" *ngIf="tooltip.prefreq">
      <div class="display_flex">
        <div fxFlex="5%">
          <span class="material-icons info" >info</span>
        </div>
        <div fxFlex="80%">
          The frequency under which you will make prepayments on your mortgage. The options are one time payment, yearly and the same as regular payment.
          <div class="close_button">
            <button (click)="showInfo('prefreq')">Close</button>
          </div>
        </div>
      </div>
      
    </div>
    <div class="display_flex" fxLayout>
      <div fxFlex ="30%"><span class="material-icons" (click)="showInfo('start')">help</span> Start with Payment</div> 
      <div fxFlex ="70%">
          <span> 
            
            <input class="input_val right_side" matInput type="text" formControlName ="preStart">
          </span>
      </div>
     
     
    </div>
    <div class="info_section" *ngIf="tooltip.start">
      <div class="display_flex">
        <div fxFlex="5%">
          <span class="material-icons info" >info</span>
        </div>
        <div fxFlex="80%">
          This is the payment number that your prepayments will begin with. For a one time payment, this is the payment number that the single prepayment will be included in. All prepayments of principal are assumed to be received by your lender in time to be included in the following month's interest calculation.
          <div class="close_button">
            <button (click)="showInfo('start')">Close</button>
          </div>
        </div>
      </div>
      
    </div>
    
     
     
   
   
  </div>
</div>
